<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> <!--thymeleaf initialiseres-->
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <div th:replace="fragments/header :: header"></div>
    <title>Add Tourist Attraction</title>

</head>
<body>
<h1>Add Tourist Attraction</h1>
<form action="#" th:action="@{/save}" class="form-label" th:object="${attraction}" method="post">
    <label for="name">Name:</label>
    <input id="name" class="form-control"
           type="text"
           th:value="${attraction.name}"
           th:field="*{name}"/>
    <br>
    <label for="description">Description:</label>
    <input id="description" class="form-control"
           type="text"
           th:value="${attraction.description}"
           th:field="*{description}"/>
    <br>
    <label for="city">City:</label>
    <select id="city" th:field="*{city}">
        <th:block th:each="by : ${cities}">
            <option th:value="${by}" th:text="${by.name}"></option>
        </th:block>
    </select>
    <br>
    <label>Tags:</label>
    <br>
    <div>
        <span th:each="tag : ${availableTags}">
       <input type="checkbox" th:field="*{tags}" th:value="${tag.name()}"/>
            <label th:for="${tag.name()}" th:text="${tag.displayName}"></label><br>

    </span>
    </div>
    <br><br>
    <button type="submit">Add</button>

</form>
<form th:action="@{/attractions}" method="get">
    <button type="submit">Regret</button>
</form>
</body>
</html>