<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1>Add Tourist Attraction</h1>
<form action="#" th:action="@{/add}" class="form-label" th:object="${attraction}" method="post">
    <label for="name">Name:</label>
    <input id="name" class="form-control"
           type="text"
           th:value="${attraction.name}"
           th:field="*{name}"/>
    <br>
    <label for="description">Description:</label>
    <input id="description" class="form-control"
           type="text"
           th:value="${attraction.description}"
           th:field="*{description}"/>
    <br>
    <label for="city">City:</label>
    <input id="city" class="form-control"
           type="text"
           th:value="${attraction.city}"
           th:field="*{city}"/>
    <br>
    <label>Tags:</label>
    <div>
        <span th:each="tag : ${availableTags}">
            <input type="checkbox" th:id="${tag.name()}" th:value="${tag.name()}" th:name="selectedTags" />
            <label th:for="${tag.name()}" th:text="${tag.displayName}"></label><br>
        </span>
    </div>
    <br><br>
<button type="submit">Add</button>
</form>
<form th:action="@{/add}" method="get">
<button type="submit">Regret</button>
</form>
</body>
</html>