<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Attraction list</title>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>
<h1>All Attractions:</h1>
<form th:action="@{/attractions}" method="post">
    <input type="hidden" name="valuta" value="EUR">
    <button type="submit">EUR</button>
</form>
<form th:action="@{/attractions}" method="post">
    <input type="hidden" name="valuta" value="DKK">
    <button type="submit">DKK</button>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction : ${attractions}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td th:each="city : ${cities}"
            th:if="${city.cityId} == ${touristattraction.cityId}"
            th:text="${city.name}"></td>
        <td th:text="${touristattraction.getPrice(valuta)}"></td>
        <td>
            <form th:action="@{ ${touristattraction.tourist_id} + '/edit'}" method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td> <!--Modificer action endpoint-->
            <form th:action="@{/delete (id=${touristattraction.tourist_id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/attractions/{id}/tags(id=${touristattraction.tourist_id})}" method="get" target="_blank">
                <button type="submit">Tags</button>
            </form>
        </td>


    </tr>

    </tbody>
</table>
<br>
</form>
<form th:action="@{/add}" method="get">
    <button type="submit">Add attraction</button>
</form>


</body>
</html>