<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1>All Attractions:</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction : ${attractions}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td>
        <form th:action="@{/attractions/{name}/tags(name=${touristattraction.name})}" method="get" target="_blank">
            <button type="submit">Tags</button>
        </form></td>
    </tr>
    </tbody>
</table>
<br>
<button type="submit">Add attraction</button>


</body>
</html>