<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/header :: header">...</div>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1 th:text="${attraction.name}"></h1>

<ul>
    <li th:each="tag : ${tags}">
        <span th:text="${tag}"></span>
    </li>
</ul>


<form th:action="@{/attractions}" method="get" target="_blank">
    <button type="submit">Back</button>
</form>
</body>
</html>